.clear_fix::after,
.clear_fix::before {
 clear:both;
 content:'';
 display:table
}
.tp-preview-images {
 position:fixed;
 right:360px!important;
 display:none;
 z-index:9999999
}
.tp-preview-images img {
 max-height:300px;
 width:auto
}
.tp-title {
 text-align:center;
 font-weight:600
}
.tp-description {
 text-align:center;
 font-size:.8em;
 padding:10px 10px 20px;
 margin-bottom:0
}
.tp-chameleon-demos-wrapper {
 padding-bottom:0
}
.tp-buy-theme {
 text-align:center;
 margin-top:0;
 padding-left:0;
 padding-right:0;
 padding-bottom:15px;
 overflow:hidden
}
.tp-buy-theme a {
 max-width:230px;
 margin:auto
}
.tp-buy-theme .tp-description {
 margin-top:5px
}
.tp-buy-theme .tp-description .old-price {
 text-decoration:line-through;
 font-size:16px;
 color:#f36329;
 font-weight:700
}
.tp-buy-theme .tp-description .current-price {
 font-size:20px;
 color:#82b440;
 font-weight:700
}
.tp-chameleon-btn-buy {
 display:none;
 position:fixed;
 bottom:-100px;
 right:50px;
 z-index:99
}
.tp-chameleon-btn-buy:hover .number {
 background-color:#729c29
}
@media all and (min-width:768px) {
 .tp-chameleon-btn-buy {
  display:block
 }
}
.tp-chameleon-btn-buy .logo-envato {
 height:40px;
 width:40px;
 position:relative;
 top:20px;
 left:40px;
 z-index:99;
 background-color:#82b440
}
.tp-chameleon-btn-buy .logo-envato svg {
 height:40px;
 width:40px;
 padding:12px
}
.tp-chameleon-btn-buy .number {
 color:#fff;
 line-height:70px;
 min-width:70px;
 min-height:70px;
 text-align:center;
 font-size:30px;
 display:block;
 position:relative;
 background-color:#82b440;
 transition:all .2s ease-out
}
.tp-chameleon-btn-buy .number span {
 position:relative;
 display:block;
 left:2px
}
.tp-chameleon-btn-buy .number:before {
 content:attr(data-currency);
 font-size:12px;
 top:-10px;
 left:14px;
 position:absolute
}
.tp-chameleon-btn-buy>* {
 box-shadow:-1px 1px 5px 1px rgba(0,0,0,.1);
 border-radius:50%
}
.tp-buy-theme a.link-buy {
 text-decoration:none!important;
 color:#fff!important;
 background-color:#82b440;
 padding:10px;
 min-width:200px;
 display:block
}
.tp-buy-theme .link-end {
 text-decoration:underline;
 color:#333
}
.input-box .tp-btn,
.input-box .tp-btn:hover {
 text-decoration:none
}
.admin-bar #tp_style_selector {
 top:32px
}
.tp_style_selector_container::-webkit-scrollbar {
 display:none
}
.tp_style_selector_container {
 -ms-overflow-style:none;
 scrollbar-width:none
}
#tp_style_selector {
 background:#fff;
 width:360px;
 position:fixed;
 top:0;
 bottom:0;
 right:-360px;
 z-index:100;
 color:#333;
 -webkit-transition:height 1s;
 transition:height 1s;
 -webkit-border-top-left-radius:2px;
 -webkit-border-bottom-left-radius:2px;
 -moz-border-radius-topleft:2px;
 -moz-border-radius-bottomleft:2px;
 border-top-left-radius:2px;
 border-bottom-left-radius:2px
}
#tp_style_selector.show {
 -webkit-box-shadow:0 2px 9px 2px rgba(0,0,0,.14);
 -moz-box-shadow:0 2px 9px 2px rgba(0,0,0,.14);
 box-shadow:0 2px 9px 2px rgba(0,0,0,.14)
}
.tp_style_selector_container {
 height:100%;
 overflow-y:auto;
 position:relative;
 z-index:1;
 padding-top:25px;
 width:100%;
 overflow-x:hidden
}
.box-title {
 font-size:15px;
 text-align:center;
 padding-top:20px;
 margin-bottom:15px;
 text-transform:uppercase
}
.input-box {
 text-align:center;
 padding-bottom:20px;
 margin-top:20px
}
.input-box .input select {
 padding:5px 10px;
 max-width:200px
}
.input-box .tp-btn {
 color:#333;
 font-size:15px;
 border:1px solid #eee;
 padding:7px 32px;
 display:inline-block;
 min-width:100px;
 outline:0;
 text-transform:none
}
.input-box .tp-btn.layout-wide {
 margin-right:10px
}
.input-box .tp-change-layout.active {
 background-color:#eee
}
#tp_style_selector .style-toggle,
#tp_style_selector .style-toggle-buynow {
 width:56px;
 height:54px;
 cursor:pointer;
 background:#fff;
 border-radius:5px 0 0 5px;
 left:-56px!important;
 position:absolute;
 top:145px;
 text-shadow:0 0 0;
 font-weight:400;
 opacity:1;
 z-index:0;
 color:#333;
 box-shadow:-3px 0 5px -2px rgba(0,0,0,.14);
 font-size:12px;
 line-height:1;
 text-align:center;
 padding-top:5px
}
#tp_style_selector .style-toggle-buynow {
 top:210px;
 background:#7aa93c
}
#tp_style_selector .style-toggle-buynow a {
 color:#fff;
 display:block;
 letter-spacing:-.3px
}
#tp_style_selector .style-toggle-buynow .logo-envato {
 width:20px;
 margin:3px auto
}
#tp_style_selector .style-toggle-buynow:hover {
 background-color:#82b440
}
#tp_style_selector .style-toggle:before {
 color:#333;
 content:"\f013";
 font-family:"font awesome 5 free";
 line-height:28px;
 font-size:20px;
 text-align:center;
 display:block;
 font-weight:600
}
#tp_style_selector .style-toggle.open:before {
 -webkit-animation-name:spin__;
 -webkit-animation-duration:4s;
 -webkit-animation-iteration-count:infinite;
 -webkit-animation-timing-function:linear;
 -moz-animation-name:spin__;
 -moz-animation-duration:4s;
 -moz-animation-iteration-count:infinite;
 -moz-animation-timing-function:linear;
 -ms-animation-name:spin__;
 -ms-animation-duration:4s;
 -ms-animation-iteration-count:infinite;
 -ms-animation-timing-function:linear;
 animation-name:spin__;
 animation-duration:4s;
 animation-iteration-count:infinite;
 animation-timing-function:linear
}
@-ms-keyframes spin__ {
 from {
  -ms-transform:rotate(0)
 }
 to {
  -ms-transform:rotate(360deg)
 }
}
@-moz-keyframes spin__ {
 from {
  -moz-transform:rotate(0)
 }
 to {
  -moz-transform:rotate(360deg)
 }
}
@-webkit-keyframes spin__ {
 from {
  -webkit-transform:rotate(0)
 }
 to {
  -webkit-transform:rotate(360deg)
 }
}
@keyframes spin__ {
 from {
  transform:rotate(0)
 }
 to {
  transform:rotate(360deg)
 }
}
html[dir=rtl] #tp_style_selector .style-toggle:before {
 left:-20px;
 position:relative
}
#tp_style_selector .images {
 padding:0 25px 15px;
 margin-top:6px;
 margin-bottom:20px;
 border-bottom:1px solid #eee;
 position:relative;
 z-index:1000000
}
#tp_style_selector .images a,
#tp_style_selector .images img,
.primary_color a {
 width:25px;
 height:24px;
 margin-bottom:7px;
 margin-right:7px
}
#tp_style_selector .images img {
 z-index:1000
}
#tp_style_selector .images img.active {
 border:0 solid #ccc;
 opacity:.5
}
#tp_style_selector .images a {
 background:url(../images/style-selector.png) top left no-repeat;
 display:inline-block
}
#tp_style_selector .images .bgfix1 {
 background-position:-501px -10px
}
#tp_style_selector .images .bgfix2 {
 background-position:-580px -10px
}
#tp_style_selector .images .bgfix3 {
 background-position:-644px -10px
}
#tp_style_selector .images .bgfix4 {
 background-position:-710px -10px
}
#tp_style_selector .images .bgfix5 {
 background-position:-777px -10px
}
#tp_style_selector .images .pattern1 {
 background-position:-10px -10px
}
#tp_style_selector .images .pattern2 {
 background-position:-50px -10px
}
#tp_style_selector .images .pattern3 {
 background-position:-95px -10px
}
#tp_style_selector .images .pattern4 {
 background-position:-153px -10px
}
#tp_style_selector .images .pattern5 {
 background-position:-200px -10px
}
#tp_style_selector .images .pattern6 {
 background-position:-245px -10px
}
#tp_style_selector .images .pattern7 {
 background-position:-300px -10px
}
#tp_style_selector .images .pattern8 {
 background-position:-350px -10px
}
#tp_style_selector .images .pattern9 {
 background-position:-405px -10px
}
#tp_style_selector .images .pattern10 {
 background-position:-460px -10px
}
.primary_color a {
 display:inline-block
}
.primary_color {
 padding:0 0 15px;
 border-bottom:1px solid #eee;
 text-align:center
}
#tp_style_selector .pickcolor {
 padding:10px 0;
 overflow:hidden;
 height:auto;
 line-height:26px
}
#tp_style_selector .pickcolor span {
 float:left;
 margin-left:25px
}
.clear_style_selector {
 color:#bababa;
 padding-bottom:5px;
 display:inline-block
}
.boxed-mode,
.style-toggle.close {
 display:none
}
.tp_background_pattern {
 background:fixed
}
.tp_background_image {
 background:no-repeat fixed;
 background-size:cover
}
.primary_color .active,
.tp_image.active,
.tp_pattern.active {
 border:2px solid #333
}
.images.patterns {
 text-align:center
}
.tp_chameleon_overlay {
 position:fixed;
 top:0;
 left:0;
 right:0;
 bottom:0;
 z-index:999999999999999;
 background-color:rgba(0,0,0,.5);
 display:none
}
.tp_chameleon_progress {
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 margin:auto;
 height:100px;
 text-align:center
}
.tp_chameleon_heading {
 color:#fff;
 font-size:40px
}
.tp_chameleon_demos {
 margin-left:10px;
 margin-right:10px;
 position:relative
}
.tp_demo {
 position:relative;
 overflow:hidden;
 margin-bottom:9px;
 float:left
}
.tp_demo:nth-child(even) {
 margin-right:10px
}
.tp_demo a {
 display:block;
 background:no-repeat;
 width:100%;
 height:136px
}
.tp_demo:first-child a {
 width:100%;
 height:224px
}
.tp_demo img {
 max-width:100%;
 height:auto;
 border:1px solid #eee
}
.tp_demo.active,
.tp_demo:hover {
 border-color:#82b440
}
.tipso_bubble,
.tipso_bubble>.tipso_arrow {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}
.tipso_bubble {
 position:absolute;
 text-align:center;
 border-radius:6px;
 z-index:9999
}
.tipso_title {
 border-radius:6px 6px 0 0;
 padding:10px;
 font-size:1.2em
}
.tipso_content {
 word-wrap:break-word
}
.tipso_content img {
 width:100%;
 height:auto
}
.tipso_bubble>.tipso_arrow {
 position:absolute;
 width:0;
 height:0;
 border:8px solid;
 pointer-events:none
}
.tp-buy-theme .link-buy,
.tp-buy-theme .view-more-slider {
 overflow:hidden;
 position:relative;
 width:100%;
 max-width:240px;
 font-size:13px;
 line-height:1.5;
 text-align:center;
 box-sizing:border-box
}
.tipso_bubble.top>.tipso_arrow {
 top:100%;
 left:50%;
 margin-left:-8px;
 border-color:#000 transparent transparent
}
.tipso_bubble.bottom>.tipso_arrow {
 bottom:100%;
 left:50%;
 margin-left:-8px;
 border-color:transparent transparent #000
}
.tipso_bubble.left>.tipso_arrow {
 top:50%;
 left:100%;
 margin-top:-8px;
 border-color:transparent transparent transparent #000
}
.tipso_bubble.right>.tipso_arrow {
 top:50%;
 right:100%;
 margin-top:-8px;
 border-color:transparent #000 transparent transparent
}
.tipso_bubble .top_right_corner,
.tipso_bubble.top_right_corner {
 border-bottom-left-radius:0
}
.tipso_bubble .bottom_right_corner,
.tipso_bubble.bottom_right_corner {
 border-top-left-radius:0
}
.tipso_bubble .top_left_corner,
.tipso_bubble.top_left_corner {
 border-bottom-right-radius:0
}
.tipso_bubble .bottom_left_corner,
.tipso_bubble.bottom_left_corner {
 border-top-right-radius:0
}
.tp-buy-theme .link-buy {
 box-shadow:0 2px 0 #6f9a37;
 border:none;
 border-radius:4px;
 font-weight:700;
 text-decoration:none!important;
 color:#fff!important;
 background-color:#82b440;
 padding:10px;
 min-width:200px;
 display:block
}
.tp-buy-theme .link-buy:hover {
 color:#fff;
 background-color:#7aa93c
}
.tp-buy-theme .link-buy i {
 margin-right:8px
}
.tp-buy-theme .view-more-slider {
 display:none;
 background-color:#e6e6e6;
 padding:0;
 color:#666;
 box-shadow:0 2px 0 #a8a8a8;
 border:none;
 border-radius:4px;
 margin-top:12px;
 margin-bottom:7px
}
.tp-buy-theme .view-more-slider:hover {
 background-color:#e0e0e0
}
.tp-buy-theme .view-more-slider .text {
 padding:10px 15px;
 font-size:13px;
 line-height:1.5;
 display:block;
 color:#666
}
.tp-buy-theme .view-more-slider .text:hover {
 color:#666;
 text-decoration:none
}
.tp-buy-theme .view-more-slider .text i {
 font-style:normal;
 text-decoration:line-through
}
.tp-email-form .button-email {
 background-image:-moz-linear-gradient(-60deg,#ff5858 0,#f09819 100%);
 background-image:-webkit-linear-gradient(-60deg,#ff5858 0,#f09819 100%);
 background-image:-ms-linear-gradient(-60deg,#ff5858 0,#f09819 100%);
 color:#fff;
 opacity:0;
 visibility:hidden;
 border-radius:22px;
 padding:11px 22px;
 position:fixed;
 bottom:30px;
 left:30px;
 z-index:9999
}
.tp-email-form .button-email.active {
 opacity:1;
 visibility:visible
}
.tp-email-form .button-email:hover,
.tp-email-form .email-form-popup .email-form-subscribe input[type=submit]:hover {
 opacity:.7
}
.tp-email-form .button-email.hide {
 transform:translateX(-300px)
}
.tp-email-form .email-form-popup {
 position:fixed;
 width:263px;
 padding:30px;
 bottom:0;
 left:0;
 z-index:9999;
 transition:.3s ease;
 transform:translateX(-300px);
 background:#fff;
 box-shadow:0 5px 43px 0 rgba(0,0,0,.17)
}
.tp-email-form .email-form-popup .email-form-heading,
.tp-email-form .email-form-popup .email-form-subscribe input[type=submit] {
 background-image:-moz-linear-gradient(-60deg,#ff5858 0,#f09819 100%);
 background-image:-webkit-linear-gradient(-60deg,#ff5858 0,#f09819 100%);
 background-image:-ms-linear-gradient(-60deg,#ff5858 0,#f09819 100%)
}
.tp-email-form .email-form-popup .loading {
 position:absolute;
 bottom:-30px;
 width:100%;
 left:0;
 text-align:center
}
.tp-email-form .email-form-popup .message-error,
.tp-email-form .email-form-popup .message-success {
 margin-bottom:0;
 margin-top:20px;
 text-align:center;
 transition:.3s ease
}
.tp-email-form .email-form-popup .close-popup {
 position:absolute;
 right:-20px;
 top:-20px;
 cursor:pointer;
 background-color:#fff;
 border-radius:100%;
 box-shadow:0 4px 43px 0 rgba(0,0,0,.15);
 width:40px;
 line-height:40px;
 text-align:center
}
.tp-email-form .email-form-popup.show {
 transform:scale(1) translateX(0)
}
.tp-email-form .email-form-popup .email-form-heading {
 padding:30px;
 margin:-30px -30px 30px;
 font-size:20px;
 line-height:28px;
 text-align:center;
 color:#fff
}
.tp-email-form .email-form-popup .email-form-heading i {
 display:block;
 font-size:62px;
 margin-bottom:10px
}
.tp-email-form .email-form-popup .email-form-subscribe input[type=email] {
 display:block;
 width:100%;
 padding:0 15px;
 margin-bottom:23px;
 text-align:center;
 height:45px;
 border:1px solid rgba(0,0,0,.1);
 border-radius:30px;
 font-size:14px;
 color:#bfbfbf;
 box-sizing:border-box
}
.tp-email-form .email-form-popup .email-form-subscribe input[type=email].error {
 border-color:red
}
.tp-email-form .email-form-popup .email-form-subscribe form {
 margin-bottom:0
}
.tp-email-form .email-form-popup .email-form-subscribe input[type=submit] {
 padding-top:0;
 width:100%;
 height:45px;
 line-height:47px;
 border:0;
 cursor:pointer;
 color:#fff;
 box-sizing:border-box;
 outline:0!important;
 text-transform:uppercase;
 font-weight:700;
 font-size:13px;
 border-radius:30px;
 box-shadow:0 5px 8px 0 rgba(0,0,0,.17);
 transition:.3s ease
}
.tp_demo {
 width:165px!important
}
.tp_demo:first-child {
 width:340px!important;
 padding-right:0;
 padding-left:0;
 margin-bottom:45px
}
.tp_demo .tp_demo_1,
.tp_demo .tp_demo_2 {
 background-position-y:-266px!important;
 height:166px
}
.tp_demo .tp_demo_3,
.tp_demo .tp_demo_4 {
 background-position-y:-438px!important
}
.tp_demo .tp_demo_5,
.tp_demo .tp_demo_6 {
 background-position-y:-617px!important;
 height:167px
}
.tp_demo .tp_demo_7,
.tp_demo .tp_demo_8 {
 background-position-y:-790px!important
}
.tp_demo .tp_demo_9,
.tp_demo .tp_demo_10 {
 background-position-y:-967px!important;
 height:167px
}
.tp_demo .tp_demo_11,
.tp_demo .tp_demo_12 {
 background-position-y:-1141px!important
}
.tp_demo .tp_demo_13 {
 background-position-y:-1283px!important
}
.tp_demo:nth-child(15),
.tp_demo:nth-child(17),
.tp_demo:nth-child(19),
.tp_demo:nth-child(21) {
 width:48.7%!important;
 margin-right:10px
}
.tp_demo:nth-child(16),
.tp_demo:nth-child(18),
.tp_demo:nth-child(20) {
 width:47.67%!important;
 margin-right:0!important
}
.tp_demo .tp_demo_14 {
 background-position:0 -1460px!important;
 height:167px
}
.tp_demo .tp_demo_15 {
 background-position:-174px -1460px!important;
 height:167px
}
.tp_demo .tp_demo_16 {
 background-position:0 -1637px!important
}
.tp_demo .tp_demo_17 {
 background-position:-174px -1637px!important
}
.tp_demo .tp_demo_18 {
 background-position:0 -1818px!important;
 height:167px
}
.tp_demo .tp_demo_19 {
 background-position:-174px -1818px!important;
 height:167px
}
.tp_demo .tp_demo_20 {
 background-position:0 -1992px!important
}
.tp_demo:nth-child(4),
.tp_demo:nth-child(8),
.tp_demo:nth-child(14),
.tp_demo:nth-child(17),
.tp_demo:nth-child(21) {
 margin-bottom:45px
}
.tp_demo .tp_demo_21 {
 background-position:0 -2169px!important;
 height:167px
}
.tp_demo .tp_demo_22 {
 background-position:-174px -2169px!important;
 height:167px
}
.tp_demo span {
 background-position:0 -2377px!important;
 height:225px!important;
 margin-top:45px
}
.tp_chameleon_demos .tp_demo:last-child span {
 width:340px!important
}
.tp_demo:last-child {
 width:100%!important;
 margin-right:0
}
